/**
 * @file
 * CSS for the Webform Workflow module.
 */

.webform-workflow-state-permissions .form-item {
  display: inline-block;
  margin: 0 10px;
}

/* The form used for changing the state of a submission */
#webform-workflow-submission-state-form .form-item,
#webform-workflow-submission-state-form .form-actions {
  margin: 0 10px 0 0;
  padding: 5px 0;
}
#webform-workflow-submission-state-form #edit-current-state,
#webform-workflow-submission-state-form .form-item-new-state {
  display: inline-block;
  margin: 0 20px 5px 0;
  padding: 0;
}
#webform-workflow-submission-state-form .form-item-new-state {
  margin-right: 0;
}

/* The <blockquote> containing the log message for a state change */
.webform-workflow-log-message {
  margin: 0 10px;
  padding: 0 10px;
  border-left: 2px solid #CCC;
}

/* State colors */
.webform-workflow-state-color-options {
  margin: 5px 0;
}
.webform-workflow-state-color-options li {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  margin: 0 10px 5px 0;
  padding: 5px;
}
.webform-workflow-state-color-options li.selected {
  outline: 1px dashed #555;
}
.webform-workflow-state-color-options li:last-child {
  margin-right: 0;
}
.webform-workflow-state {
  border-radius: 3px;
  padding: 3px;
}
#edit-current-state .webform-workflow-state {
  font-size: larger;
}
.webform-workflow-state-color-amber {
  background-color: #FF7E00;
  color: #000;
}
.webform-workflow-state-color-blue {
  background-color: #0000FF;
  color: #FFF;
}
.webform-workflow-state-color-green {
  background-color: #00FF00;
  color: #000;
}
.webform-workflow-state-color-red {
  background-color: #FF0000;
  color: #FFF;
}
